@use "sass:color";
@use "../../../../../Zing3/zui/zuiStyling.scss" as *;
@use "../../../../../Zing3/zui/zuiParameters.scss" as *;

$ioBackground: color.scale($color-secondary,$lightness:40%);
$ioBorder: color.scale($color-secondary,$lightness:-30%);
$ioBorderHover: color.scale($color-secondary,$lightness:-60%);
$cellBorder:color.scale($color-secondary,$lightness:-20%);
$paramBorder: color.scale($color-secondary,$lightness:-10%);

.DisplayCellActionBar {
    @include layout(12,none);
    margin-top: 5px;
    margin-bottom: 5px;
}
.DisplayCellActionBarSelected {
    @include layout(12,none);
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid 3px black;
    background-color: white;
}
.DisplayCellClosed {
    @include layout(12,none);
    border: solid 2px $cellBorder;
    padding: 3px;
    border-radius: 3px;
    background-color: $color-secondary;
}
.DisplayCellOpen {
    @include layout(12,none);
    border: solid 2px $cellBorder;
    padding: 3px;
    padding-top:5px;
    border-radius: 3px;
    background-color: $color-secondary;
    margin-top:8px;
}
.DisplayCellParam {
    @include layout(11,both,1);
    border: solid 2px $paramBorder;
    padding: 3px;
    border-radius:3px;
    margin-bottom: 3px;
    resize:vertical;
    overflow-y:auto;
}
.DisplayDisplay {
    @include layout(12);
    border: solid 2px lightgray;
    padding: 3px;
    border-radius:3px;
    min-height: 50px;
    min-width:300px;
    resize:vertical;
    overflow-y:auto;
}
.DisplayInputBar{
    width:100%;
    position:absolute;
    top:0;
    margin-bottom:-10px;
    margin-left:24px;
    margin-right:40px;
    z-index: 10;
}
.DisplayOpenContainer{
    @include layout(12)
}
.EmptyCellText {
    @include layout(0);
    text-align:center;

    color:$color-secondary;
}
.EmptyCellView {
    @include layout(12);
    min-width: 80px;
    min-height: 20px;
    background-color: white;
    border: solid 1px color.scale($color-secondary,$lightness: 10%);
}

.InputBlockBad{
    @include layout(0);
    background-color: $ioBackground;
    color:white;
    border:solid 2px $ioBorder;
    border-left-width: 5px;
    border-right-width: 5px;
    padding:1px;
    &:hover{
        border-top:solid 3px $ioBorderHover;
        padding-top:0px;
        cursor:pointer;
    }
}
.InputBlockClosed{
    @include layout(0);
    width: 3em;
    height: 1px;
    background-color: $ioBackground;
    color:white;
    border:solid 2px $ioBorder;
    padding-top:1px;
    &:hover{
        border-top:solid 3px $ioBorderHover;
        padding-top:0px;
        cursor: pointer;
    }

}
.InputBlockGood{
    @include layout(0);
    background-color: $ioBackground;
    color:white;
    border:solid 2px $ioBorder;
    padding:1px;
    &:hover{
        border-top:solid 3px $ioBorderHover;
        padding-top:0px;
        cursor: pointer;
    }
}
.InputBlockNone{
    @include layout(0);
    background-color: white;
    color:white;
    border:solid 1px $ioBorder;
    padding:2px;
    &:hover{
        border-top:solid 3px $ioBorderHover;
        padding-top:0px;
        cursor: pointer;
    }
}
.InputBlockSelected {
    border-color: black;
    &:hover{
        border-top:solid 3px $ioBorderHover;
        padding-top:0px;
        cursor: pointer;
    }
}
.InputBlockText {
    color:black;
    padding-left: 10px;
    padding-right:10px;
    font-size: 9px;
    letter-spacing:1.5px;
}
.MenuArrow{
    @include layoutRight(0);
    width:10px;
    height:10px;
    margin-right: 5px;
}
.MenuButton {
    @include layoutRight(0);
    width:15px;
    height:15px;
    margin-left: 5px;
}
.MenuButtonEmpty {
    @include layoutRight(0);
    width:15px;
    height:15px;
    margin-left: 5px;
    opacity: 0.3;
    &:hover {
        opacity:1.0;
    }
}
.MenuContainer {
    border: solid 1px black;
    background-color: white;
}
.MenuItem {
    @include layout(12);
    border: solid 1px white;
    padding:1px;
    margin:1px;
    margin-right:2px;
    cursor:pointer;
    &:hover {
        border:solid 1px black;
        background-color: lightgray;
    }
}
.NoteButton {
    @include layoutRight(0);
    width:15px;
    height:15px;
    margin-left: 5px;
}
.NoteEdit {
    @include layout(12);
    background-color: white;
    height:40px;
    padding:5px;
    overflow-y:auto;
    overflow-x:auto;
    resize:both;
}
.NoteEditContainer{
    background-color: white;
}
.OpenCloseButton{
    @include layout(0);
    width:10px;
    height:10px;
    margin-right: 5px;
}
.OutputBlock{
    @include layout(0);
    background-color: $ioBackground;
    color:white;
    border:solid 2px $ioBorder;
    padding:1px;
    &:hover{
        border-bottom:solid 3px $ioBorderHover;
        padding-bottom:0px;
        cursor: pointer;
    }
}
.OutputBlockClosed{
    @include layout(0);
    width: 3em;
    height: 1px;
    background-color: $ioBackground;
    color:white;
    border:solid 2px $ioBorder;
    padding-top:1px;
    &:hover{
        border-top:solid 3px $ioBorderHover;
        padding-top:0px;
        cursor: pointer;
    }

}
.OutputBlockText {
    color: black;
    padding-left: 10px;
    padding-right:10px;
    font-size: 9px;
    letter-spacing:1.5px;
}
.SheetView {
    @include layout(12,none);
    background-color: white;
    border-radius: 3px;
    border: solid 1px black;
    margin-top:10px;
    border-spacing: 4px;
    resize: vertical;
    overflow-x: auto;
    overflow-y:auto;
}
.SheetViewTable {

}
.StepCellActionBar {
    @include layout(12,none);
    margin-top: 5px;
    margin-bottom: 5px;
}
.StepCellActionBarSelected {
    @include layout(12,none);
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid 3px black;
    background-color: white;
}
.StepCellClosed {
    @include layout(12,none);
    border: solid 2px $cellBorder;
    padding: 3px;
    border-radius: 3px;
    background-color: $color-secondary;
    min-width: 300px;
}
.StepCellOpen {
    @include layout(12,none);
    border: solid 2px $cellBorder;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 11px;
    border-radius: 3px;
    background-color: $color-secondary;
    margin-top:8px;
    margin-bottom:8px;
}
.StepCellParam {
    @include layout(11,both,1);
    border: solid 2px $paramBorder;
    padding: 3px;
    border-radius:3px;
    margin-bottom: 3px;
    resize:vertical;
    overflow-y:auto;
}
.StepDo{
    @include layout(6)
}
.Step_canCompute {
    @include layout(6);
    border: solid 2px color.adjust($color-primary,$lightness: 30%)
}
.Step_computed {
    @include layout(6);
    background-color: color.adjust($color-primary,$lightness: 20%)
}
.Step_ready {
    @include layout(6);
    border: solid 4px black;
}
.Step_statusError {
    @include layout(0);
    background-color: red;
}
.Step_unconnected {
    @include layout(6);
    background-color: lightgrey;
    cursor: none
}
.StepInputBar{
    width:100%;
    position:absolute;
    top:0;
    margin-bottom:-10px;
    margin-left:24px;
    margin-right:40px;
    z-index: 10;
}
.StepOutputBar{
    width:100%;
    position:absolute;
    bottom:0;
    margin-top:-10px;
    margin-left:24px;
    margin-right:40px;
    z-index: 10;
}
.StepLog{
    @include layout(11,both,1);
    background-color: white;
    padding: 3px;
    border-radius:3px;
    margin-bottom: 3px;
    resize:vertical;
    overflow-y:auto;
}
.StepOpenContainer{
    @include layout(12)
}
