$color-primary : rgb(80, 145, 231);
$color-primary-text: white;
$color-secondary : rgb(248, 236, 203);
$color-secondary-text :  black;
$color-disabled: rgb(164, 186, 247);
$color-disabled-text: white;
$color-text: black;
$font-size-sm : 10px;
$font-size-normal : 13px;
$font-family-normal: 'Montserrat', sans-serif;
$font-family-special: 'Cinzel', serif;

$grid-gutter-width: 3%;